# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda / Virtual envs
.env/
.venv/
env/
venv/
*.conda
*.yaml

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
